<div class="calendar-container">
    <div class="calendar">
        <div class="calendar-headline">
            <div class="calendar-headline-month">
                {{ this.firstDayOfActiveMonth().monthShort }}
                {{ this.firstDayOfActiveMonth().year}}

            </div>
            <div class="calendar-headline-controls">
                         <div class="calendar-headline-control" (click)="goToPreviusMonth()">{{'<<' }} </div>
                        <div class="calendar-headline-control-today">Todays</div>
                        <div class="calendar-headline-control">>></div>
                
            </div>
        </div>

        <div class="calendar-weeks-grid">
            @for (itemWeekDays of weekDays(); track $index) {
            <div class="calendar-weeks-grid-cell">
                {{ itemWeekDays }}
            </div>
            }
        </div>
        <div class="calendar-grid">
            @for (itemDays of this.dayOfMonth(); track $index) {
            <div [ngClass]="{'calendar-grid-cell' : true, 
            'calendar-grid-cell-active': this.activeDate()?.toISODate() === itemDays?.toISODate()
            , 'calendar-grid-cell-inactive': itemDays.month !== this.firstDayOfActiveMonth().month,
            'calendar-grid-cell-active-day-now' : this.todayNumber === itemDays.day,
           ' calendar-grid-cell-active-meeting' : this.meetings()[itemDays.toFormat('yyyy-MM-dd')]            
            }"
                (click)="this.activeDate.set(itemDays)">
                {{ itemDays.day}}
               
            </div>
          
            }
        </div>
    </div>
    <div class="schedule">
        <!-- mostrando se existem dias selecionados -->
        <div class="schedule-headline">
            <!-- para remover o Question Market podemos criar um propriedade local, coom isto não precisamos de por this.activeDate()? -->
            <!-- @if (this.activeDate()) {
                <div>
                    {{ this.activeDate()?.toLocaleString(DATE_MED)}}
                </div>
            } -->
            @if (this.activeDate(); as activeDate) {
            <div>
                <!-- toLocaleString() renderiza o dado em forma de STREAM data para que seja capturada 
                 assim que clicar no calendario no evento (click)="this.activeDate.set(itemDays)"  -->
                {{ activeDate.toLocaleString(this.DATE_MED)}}
            </div>
            } @else {
            <div> Please Select your Day</div>
            }

        </div>
        <!-- mostrando se existem meeting planejadas -->
        <div>
            @if (this.activeDate() && this.activeDayMeetings().length === 0 ) {
            <div> No Planned Meeting Today </div>
            }
            @if (this.activeDate() && this.activeDayMeetings().length > 0 ) {
            @for (itemMeeting of this.activeDayMeetings(); track $index) {
            <div>{{ itemMeeting }}</div>
            }
            }
        </div>
    </div>

</div>


<router-outlet />